<launch>
 <param name="/use_sim_time" value="true" />
 <param name="robot_description"
     textfile="$(find loam_velodyne)/urdf/cyberfly_g200.urdf" />

   <node name="robot_state_publisher" pkg="robot_state_publisher"
     type="robot_state_publisher" />

   <node name="pointcloud_res" pkg="pointcloud_res"
     type="pointcloud_res" />
<node name="playbag" pkg="rosbag" type="play"
    args="--clock  $(arg bag_filename)" >
	</node>

</launch>